.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--background-color); /* Opcjonalne tło */
}

/* Kontener formularza rejestracji */
.register-form-container {
    max-width: 900px;
    width: 100%;
    padding: 40px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

/* Stylizacja przycisku home */
.btn-home {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--button);
    color: var(--white-tx);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 10;
}

.btn-home:hover {
    background-color: var(--button-hover);
}

.btn-home-ico {
    width: 24px;
    height: 24px;
}

/* Stylizacja formularza rejestracji */
.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Stylizacja kontenera zawartości formularza rejestracji */
.register-form-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Stylizacja kontenera obrazu */
.register-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.register-image-container img {
    max-width: 100%;
    height: auto;
}

/* Stylizacja nagłówka formularza */
.register-form h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--d-brown);
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
}

/* Stylizacja kontenera pól formularza */
.form-fields-container {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

/* Stylizacja grupy formularza */
.form-group {
    margin-bottom: 20px;
}

/* Stylizacja przycisków formularza */
.form-buttons-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* Stylizacja przycisku 'Create Account' */
.btn-register-account {
    width: 300px;
    height: 40px;
    background-color: var(--button) !important;
    color: var(--white-tx) !important;
    border-radius: 5px;
    font-size: 16px;
    gap:20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    
}

.btn-register-account:hover {
    background-color: var(--button-hover) !important;
}

/* Stylizacja przycisku 'Back to Sign In' */
.btn-login-account {
    width: 300px;
    height: 40px;
    background-color: var(--button) !important;
    color: var(--white-tx) !important;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
}

.btn-login-account:hover {
    background-color: var(--button-hover) !important;
}

/* Stylizacja tekstu społecznościowego */
.social-register-text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: var(--m-brown);
    margin: 0;
    margin-top: 20px;
}

/* Stylizacja przycisków społecznościowych */
.social-register-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.social-login-button {
    width: 90px;
    height: 40px;
    background-color: var(--button);
    color: var(--white-tx);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border: none;
}

.social-login-button:hover {
    background-color: var(--button-hover);
}

.social-icon {
    font-size: 25px;
}

/* Autofill styles */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
    box-shadow: 0 0 0 1000px var(--white) inset;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}